* {
  font-family: "Roboto", sans-serif;
}

.wrapper {
  width: 60%;
  margin: 0 auto;
  position: relative;
}

/* ABOUT */

.title-about {
  font-size: 150px;
  color: #949393;
  position: absolute;
  transform: rotate(-90deg);
  left: -25%;
}

.image-about {
  width: 30%;
  height: 500px;
  background: url("images/4.jpg");
  position: relative;
}

.image-about img {
  width: 70%;
  position: absolute;
  right: -50px;
  top: 25px;
}

.about-text {
  width: 30%;
}

.about-text {
  line-height: 1.5;
}

.about-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.about-logo-content {
  width: 60%;
}

.points {
  display: flex;
}

.points-logo {
  display: inline-block;
  width: 100px;
  text-align: center;
  padding-top: 15px;
}

.points i {
  line-height: 1.5;
  font-size: 32px;
}
