* {
  /* font-family: "Source Sans Pro", sans-serif; */
  line-height: 1.5;
  font-weight: 100;
  font-size: 20px;
  font-family: "Yanone Kaffeesatz", sans-serif;
}

.container {
  padding: 20px;
}

header,
.banner-section {
  background-color: rgb(73, 73, 73);
}

.header__logo {
  display: block;
  text-align: center;
  color: whitesmoke;
}

header nav {
  background-color: rgb(32, 32, 32);
  display: flex;
  flex-direction: column;
}

header nav a {
  padding-left: 20px;
  line-height: 3;
  color: white;
  text-decoration: none;
  border-bottom: 1px solid rgb(63, 63, 63);
}

header nav a:last-child {
  box-shadow: 0px 3px 15px rgb(29, 29, 29);
}

.banner-section {
  padding-top: 30px;
  border-bottom: 1px solid darkgray;
}

.img-container {
  box-sizing: border-box;
  height: 150px;
  width: 100%;
  padding: 10px;
  background-color: whitesmoke;
  box-shadow: 0px 0px 15px rgb(29, 29, 29);
  margin-bottom: 20px;
}

.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-section p {
  margin: 0 auto;
  color: white;
  text-align: center;
  font-size: 18px;
}

.button-container {
  margin: 20px 0;
}

.button-container > button {
  width: 100%;
}

button.banner__button {
  background-image: linear-gradient(to top, darkred, red);
  padding: 15px;
  color: white;
  font-size: 20px;
  border-radius: 15px;
  box-shadow: 0px 2px 5px rgb(29, 29, 29);
  border: none;
}

.main__content {
  padding-top: 40px;
}

.bg-texture {
  background-image: url("moroccan-flower.png");
}

.bg-color-layer {
  background-color: rgba(47, 53, 54, 0.8);
}

.article__title {
  color: white;
  font-weight: 300;
  margin-bottom: 10px;
}

.article__content {
  color: white;
  margin-top: 0;
}

section.aside.container {
  background-color: rgba(255, 255, 255, 0.7);
}

.aside__article {
  padding: 20px;
  background-color: whitesmoke;
}
