/* Variables - kintamieji */
:root {
  --text-main-color: #999999;
  --main-font: Verdana, Geneva, Tahoma, sans-serif;
  --primary: #a2c0be;
  --dark: rgb(32, 32, 32);
}

/* header section */

.header {
  padding-top: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav {
  display: none;
}

.main-logo {
  font-size: 2rem;
}

/* hero section */

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10%;
  min-height: 600px;
  /* border: 1px solid #000; */

  background-image: url("../img/dogger_img_1.png");
  background-size: 320px;
  background-repeat: no-repeat;
  background-position: bottom;
}

.hero__title {
  font-family: var(--main-font);
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 0.3em;
}

.hero__subtitle {
  color: var(--text-main-color);
  font-family: var(--main-font);
  font-weight: normal;
}

/* welcome section */

.heading-section {
  margin-top: 50px;
  text-align: center;
}

.paw--center {
  font-size: 2.5rem;
  color: rgb(162, 192, 190);
  padding: 0 10px;
}

.paw--left {
  transform: rotate(-45deg);
  color: rgba(162, 192, 190, 0.4);
}

.paw--right {
  transform: rotate(45deg);
  color: rgba(162, 192, 190, 0.4);
}

.section__title {
  text-transform: uppercase;
  margin: 20px 0;
  font-family: var(--main-font);
}

.section__description,
.card__description {
  font-family: var(--main-font);
  color: var(--text-main-color);
}

.welcome-cards {
  margin-top: 50px;
}

.card_img {
  margin-top: 50px;
  width: 100%;
  transition: 0.3s;
}

.card_img:hover {
  box-shadow: 7px 7px var(--primary);
}

.card__title {
  font-family: var(--main-font);
  font-size: 1.5rem;
  font-weight: 100;
  margin: 20px 0;
}

.card__description {
  margin-bottom: 20px;
}

.card-content > a.btn {
  font-family: var(--main-font);
  display: inline-block;
  padding: 0.8rem 2rem;
  color: white;
  border-radius: 30px;
  transition: 0.2s;
}

.card-content > a.btn:hover {
  background-color: var(--dark);
}

.btn--primary {
  background-color: var(--primary);
}

/* responsive */

@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .hero {
    align-items: flex-start;
    justify-content: center;
    padding-top: initial;
    background-position: bottom right;
  }

  .hero__title {
    max-width: 40%;
  }
}

/* desktop */
@media screen and (min-width: 992px) {
  .container {
    max-width: 920px;
  }

  .welcome-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "text1 img1"
      "img2 text2"
      "text3 img3";
    column-gap: 20px;
    margin-bottom: 50px;
    align-items: center;
  }

  .card_img {
    margin-top: 0;
  }

  .grid--first {
    grid-area: img1;
  }

  .grid--second {
    grid-area: text1;
    text-align: right;
    margin-right: 50px;
  }

  .grid--third {
    grid-area: img2;
  }

  .grid--fourth {
    grid-area: text2;
    margin-left: 50px;
  }

  .grid--fifth {
    grid-area: img3;
  }

  .grid--sixth {
    margin-right: 50px;
    grid-area: text3;
    text-align: right;
  }
}
