body {
  overflow-x: hidden;
}

section {
  padding: 50px;
  margin-bottom: 100px;
}

.static {
  background-color: darkorange;
}

.relative {
  background-color: darkorchid;
  position: relative;
}

.absolute {
  padding-top: 150px;
  position: relative;
  background-color: darkslateblue;
}

.position-absolute {
  background-color: darkturquoise;
  position: absolute;
  top: 15px;
  left: 200px;
}
